### Assignment

In [1]:
subject = ['Chem', 'Phy', 'Math']

students = ['Joy', 'Agatha', 'Mary', 'Frank', 'Godwin', 'Chizulum', 'Enoc', 'Chinedu', 'Kenneth', 'Lukas']


math = [76,56,78,98,88,75,59,80,45,30]

phy  = [72,86,70,98,89,79,69,50,85,80]

chem  = [75,66,77,45,83,75,59,40,65,90]

In [ ]:
# 1. Create a SINGLE dictionary to hold the following information organized by subject

In [3]:
cummRecord = dict()
for st,che,ph,mat in zip (students,chem,phy,math):
    stuRecord = {}
    stuRecord['Chemistry'] = che
    stuRecord['Physics'] = ph
    stuRecord['Mathematics'] = mat 
    cummRecord[st] = stuRecord
cummRecord

{'Joy': {'Chemistry': 75, 'Physics': 72, 'Mathematics': 76},
 'Agatha': {'Chemistry': 66, 'Physics': 86, 'Mathematics': 56},
 'Mary': {'Chemistry': 77, 'Physics': 70, 'Mathematics': 78},
 'Frank': {'Chemistry': 45, 'Physics': 98, 'Mathematics': 98},
 'Godwin': {'Chemistry': 83, 'Physics': 89, 'Mathematics': 88},
 'Chizulum': {'Chemistry': 75, 'Physics': 79, 'Mathematics': 75},
 'Enoc': {'Chemistry': 59, 'Physics': 69, 'Mathematics': 59},
 'Chinedu': {'Chemistry': 40, 'Physics': 50, 'Mathematics': 80},
 'Kenneth': {'Chemistry': 65, 'Physics': 85, 'Mathematics': 45},
 'Lukas': {'Chemistry': 90, 'Physics': 80, 'Mathematics': 30}}

In [104]:
import pandas as pd

In [105]:
table = pd.DataFrame()

In [15]:
table['Student'] = students
table['chemistry'] = chem
table['physics'] = phy
table['Mathematics'] = math
table

    Student  chemistry  physics  Mathematics
0       Joy         75       72           76
1    Agatha         66       86           56
2      Mary         77       70           78
3     Frank         45       98           98
4    Godwin         83       89           88
5  Chizulum         75       79           75
6      Enoc         59       69           59
7   Chinedu         40       50           80
8   Kenneth         65       85           45
9     Lukas         90       80           30

In [36]:
# 2. Show how to access each student's exam subject scores

In [ ]:
subject = ['Chem', 'Phy', 'Math']

students = ['Joy', 'Agatha', 'Mary', 'Frank', 'Godwin', 'Chizulum', 'Enoc', 'Chinedu', 'Kenneth', 'Lukas']


math = [76,56,78,98,88,75,59,80,45,30]

phy  = [72,86,70,98,89,79,69,50,85,80]

chem  = [75,66,77,45,83,75,59,40,65,90]

In [99]:
def stuScore(name,num):
    scoreT = {}
    for st,ma,ph,ch in zip(students,math,phy,chem):
        score = {}
        score['Math'] = ma
        score['Physics'] = ph
        score['chemistry'] = ch
        scoreT[st] = score
    if name in students:
        record = scoreT[name]
        if num == 'math':
            record1 = record['Math']
        elif num == 'physics':
            record1 = record['Physics']
        elif num == 'chemistry':
            record1 = record['chemistry']
        elif num == 'all':
            record1 = record
        else:
            print('Please type in lower case')
    else:
        record = print(f'Error {name} not found in data base')
    return name, record1

In [102]:
stuScore('Mary','all')

('Mary', {'Math': 78, 'Physics': 70, 'chemistry': 77})